body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}



.scrollarea {
  overflow-y: auto;
}


nav#mainNavBar{
    background-color: #5CB8E4;
    color: #ffffff;
}

nav#mainNavBar ul a{
    color: #ffffff;
}

body{
    background-color: #F2F2F2;
}

div.container{
    margin-top: 2%;
    background-color: transparent;

}

div.container div.row div.col div.card{
    background-color: transparent;
    padding: 5%;
    border: none;

}

div.container input#floatingInput{
    background-color: transparent;
    border: 2px solid black;
    padding: 2px;
}

div.container1{
    background-color: transparent;
    padding: 5%;
    padding-top: 0;
}


div.container1 div.card{
    background-color: transparent;
    text-align: center;
}

header.masthead{
    background-color: #5CB8E4;
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
  }

  .masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.25rem;
  }
  .masthead .masthead-avatar {
    width: 15rem;
  }

  @media (min-width: 992px) {
    .masthead {
      padding-top: calc(6rem + 104px);
      padding-bottom: 6rem;
    }
    .masthead .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    .masthead .masthead-subheading {
      font-size: 1.5rem;
    }
  }

  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }
  .divider-custom .divider-custom-icon {
    color: #2c3e50;
    font-size: 2rem;
  }
  .divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
  }
  .divider-custom.divider-light .divider-custom-icon {
    color: rgb(218, 109, 109);
  }

  .catigory-card-hover:hover{
    background-color: #5CB8E4;
    color: white;
  }

  .catigory-card-hover{
    
    height: max-content;
  }
  