*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}

nav#mainNavBar{
    background-color: #5CB8E4;
    color: #ffffff;
}

nav#mainNavBar ul a{
    color: #ffffff;
}

body{
    background-color: #F2F2F2;
}

div.container{
    margin-top: 2%;
    background-color: transparent;

}

div.container div.row div.col div.card{
    background-color: transparent;
    padding: 5%;
    border: none;

}

div.container input#floatingInput{
    background-color: transparent;
    border: 2px solid black;
    padding: 2px;
}

div.container1{
    background-color: transparent;
    padding: 5%;
    padding-top: 0;
}


div.container1 div.card{
    background-color: transparent;
    text-align: center;
}

header.masthead{
    background-color: #5CB8E4;
}

